doctype html
html
	include parts/headtag.jade
	body
		main.wrapper
			include parts/navtag.jade
			section.container
				h3.title License
				p
					a(href="#") nonoCTF
				p MIT License
				p Copyright (c) 2015-2017 Hayato Doi
				h3 Other License
				ul
					li(style="list-style-type:none")
						a(href="https://github.com/milligram/milligram") Milligram - A minimalist CSS framework.
					li(style="list-style-type:none")
						a(href="https://github.com/JerrySievert/date-utils") Date-Utils
					li(style="list-style-type:none")
						a(href="https://github.com/pugjs/pug") Pug
					li(style="list-style-type:none")
						a(href="http://nippori30.com/font/") Charfont
			include parts/footertag.jade

