doctype html
html
	include parts/headtag.jade
	body
		main.wrapper
			include parts/navtag.jade
			section.container
				h3 nonoCTFとは
				p
					| <a href='https://twitter.com/no_______nonono'>ノノノノ</a>がなんとなく作った. <br>
					| そんな感じのCTF
			section.container
				h3 下記行為を禁止します
				ul
					li 他チームへの妨害行為
					li 他チームの回答などをのぞき見する行為
					li 自チームのチーム登録者以外に問題・ヒント・解答を教えること
					li 自チームのチーム登録者以外からヒント・解答を得ること（ただし運営者が全員に与えるものを除く
					li 設問によって攻撃が許可されているサーバ、ネットワーク以外への攻撃
					li その他、運営を阻害する行為
			include parts/footertag.jade

