nav.navigation
	section.container
		a.navigation-title(href='/')
			svg.img(version='1.1',viewBox='0 0 463 669')
				h1.title nonoCTF
		ul.navigation-list.float-right
			li.navigation-item
				a.navigation-link(href='/announcement/') Announcement
			li.navigation-item
				a.navigation-link(href='/question/') Question
			li.navigation-item
				a.navigation-link(href='/ranking/') Ranking
			li.navigation-item
				a.navigation-link(href='/login/') Login
